* {
  font-family: 'Roboto Condensed', sans-serif;
}

.black {
  background-color: black !important;
}

.navbar_font {
  background-color: black;
  font-size: 22px;
  padding: 30px;
  color: white !important;
}

.navlink-font {
  color: white !important;
  padding-left: 100px;
}

.navlink-font:hover {
  text-decoration: underline;
}
