.loginCard {
  max-width: 550px;
  padding: 30px 60px 200px 60px;
  margin: 30px 0px 50px 0px;
  height: 420px;
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: transform 200ms ease-in;
}
